.navbar {
    background-color: $navColor;
    width: 100%;
    position: relative;

    &::after {
        clear: both;
        content: " ";
        display: block;
    }

    & li {
        display: inline-block;
    }

    & ul {
        padding: 0;
        margin: 0;
        float: right;

        & a {
            display: block;
            padding: 20px 30px;
            background-color: $navButton;
            text-decoration: none;
            color: $navText;
            
    
            &:hover {
                background-color: darken($navButton, 10%);
            }
        }
    }

    & img {
        position: absolute;
        height: 100%;
    }
}